{% extends "base.html" %}

{% block page_title %}
Welcome to My Collection of Cooking Recipes
{% endblock %}

{% block H1_Description %}
Add a recipe
{% endblock %}

{% block H1_Content %}
Please fill the form below to add a recipe.
{% endblock %}

{% block H2_Description %}
Please fill the following form
{% endblock %}

{% block H2_Content %}
 <form action = "http://localhost:5000/add_recipe" method = "post">
  <label for="rname">Recipe name:</label><br>
  <input type="text" id="rname" name="rname"><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}