{% extends "base.html" %}

{% block page_title %}
Welcome to My Collection of Cooking Recipes
{% endblock %}

{% block H1_Description %}
Add a recipe
{% endblock %}

{% block H1_Content %}
Please fill the form below to add a recipe.
{% endblock %}

{% block H2_Description %}
Please fill the following form
{% endblock %}

{% block H2_Content %}
 <form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form>
{% endblock %}