
{% extends "base.html" %}

{% block page_title %}
Welcome to My Collection of Cooking Recipes
{% endblock %}

{% block H1_Description %}
Your Solution to Home Cooks
{% endblock %}

{% block H1_Content %}
Established in 1997. You are at the top choice resource for home cooks with more than 100 tested recipes,
guides and meal plans, drawing over 1 million subscribers each month from around the world.
We are supported by a team of nutritionists, recipe and product testers, food writers and other creative experts.
Click on the links on the website to check out some of our top recipes!
{% endblock %}

{% block H2_Description %}
Click on the links on the website to check out some of our top recipes!
{% endblock %}

{% block H2_Content %}
You can search, add or delete a recipe.
{% endblock %}